@import url('https://fonts.googleapis.com/css2?family=Domine&display=swap');

:root {
    --greylight: #e5e5e5;
    --black: #000000;
    --blue: #1d3e75;
    --red: #cb2026;
    --bluedark: #292b51;
    --yellowblack: #363bbe;
    --darkgrey: #636363;
    --white: #ffffff;
    --grey: #d7d7d7; 
    --border: .1rem solid var(--grey);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0,.1); 
}

*{
    font-family: 'Domine', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all 2.s linear;
}

* ::selection{
    background-color: var(--black);
    color: var(--white)
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

section{
    padding: 3rem 2rem;
}



.header {
    position: sticky;
    text-align: center;
    top:0; left:0; right:0;
    z-index: 1000;
    background-color: var( --white);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 6px;
}

.header .flex{
    display: flex;
    align-items: center;
    padding: 2rem;
    justify-content: space-between;
    position:relative;
    margin: 0 auto;
}


.header .flex .logo{
    font-size: 2.5rem;
    color:var(--blue);
}

.header .flex .logo span{
    color:var(--yellow);
}

.header .flex .navbar a{
    margin: 0 1rem;
    font-size: 1.6rem;
    text-align: center;
    color:var(--black);
}

.header .flex .navbar a:hover{
    color: var(--black);
    margin-right: 10px ;

}

.header .flex .icons div{
    margin-left: 1rem;
    font-size: 2rem;
    cursor:pointer;
    color: var(--bleu);
}

.header .flex .icons a{
    margin-left: 1rem;
    font-size: 2rem;
    cursor:pointer;
    color: var(--blue);
}

.header .flex .icons a:hover{
color:var(--red);
}


.header .flex .icons div:hover {
    color:var(--red);
}


.header_menu {
    position: sticky;
    top:0; left:0; right:0;
    z-index: 1000;
    background-color: var(--greylight);
}

.header_menu .flex{
    display: flex;
    align-items: center;
    padding: 0.5rem;
    justify-content: space-between;
    position:relative;
    margin: 0 auto;
}

.header_menu .flex .logo{
    font-size: 2.5rem;
    color:var(--red);
}

.header_menu .flex .logo span{
    color:var(--blue);
}

.header_menu .flex .menu{
    font-size: 1.5rem;
    margin-left: 0.3rem;
    letter-spacing : normal;
}

.header_menu .flex .menu a{
    margin: 0 1rem;
    font-size: 1.5rem;
    color:var(--red);
}

.header_menu .flex .menu a:hover{
    color:var(--yellowblack);
}

.header_menu .flex .icons div{
    margin-left: 1rem;
    font-size: 1.5rem;
    cursor:pointer;
    color: var(--black);
}

.header_menu .flex .icons a{
    margin-left: 1rem;
    font-size: 1.7rem;
    cursor:pointer;
    color: var(--black);
}

.header_menu .flex .icons a:hover{
color:var(--red);
}

li.different{
  display:inline;
  list-style-type: none;
  border:none;
  position: relative;
}
li.different:hover{
  border: none;
}
li:hover {
  border-bottom: 5px solid var(--red);
}
.different::after{
  content: '';
  position: absolute;
  width: 0px;
  height: 5px;
  left: 50%;
  bottom:0;
  top: 15px;
  background-color: var(--red);
  transition: all ease-in-out .2s;
}
.different:hover::after{
  width: 100%;
  left: 0;
}


#menu-btn{
    display: none;
}



/* ------------------ Inscription  ------------------ */

.title{
    background-color: var(--greylight);
    display:flex;
    top:0; left:0; right:0;
    align-items: center;
    font-size: 2.7rem;
    width: auto;
    padding: 2rem;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: var(--bluedark);
}

.title .title-nav{
    align-items: center;
    padding: 1.5rem;
    justify-content: space-between;
    margin-left:  auto;
    text-transform: capitalize;
    font-size: 1.5rem;
    color: var(--black);
}



.title .title-nav a{
    font-size: 1.5rem;
    color: var(--black);
}

.title .title-nav a:hover{
    font-size: 1.5rem;
    text-decoration: underline;
}

.title .title-nav span{
    font-size: 1.5rem;
    color: var(--red);
}


.form-container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 30rem 0fr);
    justify-content: center;
    gap: 1.5rem;
    margin: 0 auto;
    align-items: flex-start;
    padding: 2rem;
}

.form-container .container_line{
    height: 600px;
    border-left: var(--grey) solid 1px;
}


.form-container form{
 padding: 1rem;
 width: 30rem;
 font-size: 1.3rem ;
 text-align: left;

}


.form-container form h3 {
    padding-bottom: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
    text-transform: uppercase;

}

.form-container form .box{
    border: var(--border);
    width: 28rem ;
    padding: 0.7rem 1rem;
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    margin-top: 0.3rem;
}

/* ------------------ Profile --------------------------------*/

.container-profil{
    width: 100%;
    font-size: 1.8rem;
    margin-left: 5rem;

}

.container-profil .profil{
    margin:auto;
    justify-content: center;
    align-items: center;
    
}

.container-profil .profil{
width: 100%;

}

.container-profil .profil .box {
    border: var(--border);
    width: 25% ;
    padding: 0.7rem 1rem;
    font-size: 1.8rem;
    margin-top: 0;
    margin-bottom: 2rem;
    justify-content: space-between;
}

.container-profil .profil .box span{

   color: var(--red);
}

.container-profil .profil  span{

   color: var(--red);
}

.container-profil h3{
    padding-bottom: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 3rem;
    font-size: 2.8rem;
    text-transform: uppercase;
    font-weight: normal;
}

.container-profil h3 span{
    border-bottom: 2px var(--red) solid;
}


/* ------------------ Accueil ------------------ */

div.polaroid {
  width: 55%;
  background-color: var(--greylight);
  margin-bottom: 25px;
  margin-left: 3rem;
}

div.container2 {
  text-align: center;
  padding: 2px 2px;
}

.container{
    display: flex;
    justify-content: center;
    font-size: 1.7rem;  
    width: 80%;
    padding: 3rem;
    margin-left: 10rem;
    margin-right: 10rem;


}

.container a{
    color: var(--red);
}

.container a:hover{
    color: var(--darkgrey);
}



.title-tab{
    padding-bottom: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 3rem;
    font-size: 2.8rem;
    text-transform: uppercase;
    font-weight: normal;

}

.title-tab span{
    border-bottom: 2px var(--red) solid;
    
}


/* ------------------ Questions ------------------ */



.content-q{
    font-size: 1.5rem;
    text-align: justify;
    margin-left: 10rem;
    margin-right: 10rem;
}

.content-q .content-b{
padding: 3rem;

background-color: var(--greylight);
}


.content{
padding: 3rem;
background-color: var(--greylight);
}

.content-q a{
    color: var(--red);
}

.content-q a:hover{
    color: var(--black);
}

.content-q h1{
    padding-bottom: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 3rem;
    font-size: 2.8rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
}

.content-q h3{
    padding-bottom: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 3rem;
    font-size: 2rem;
    font-weight: normal;
}

.content-q h4{
    padding-bottom: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 3rem;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
}

.content-q h4 span{
    border-bottom: 2px var(--red) solid;
}

.content-q h1 span{
    border-bottom: 2px var(--red) solid;
}
/* ------------------ Formulaire devis / carte grise / contact / RDV ------------------ */

.form-container-contact {
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    align-items: flex-start;
    padding: 2rem;
}

.form-container-contact .form-contact{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 3rem;

}

.form-container-contact .form-contact .form-div{
    margin-left: 1.8rem;
    margin-right: 1.8rem;
}

.form-container-contact .form-contact .form-div .box{
    width: 47rem;
}



.form-container-contact .title{
 background-color: var(--greylight);
 width: 100%;
 padding: 2rem;
 font-size: 1.7rem;
 margin-bottom: 3rem;
 text-transform: uppercase;
}

.form-container-contact .title span{
color: var(--red);

}

.contact_icon h5{
    font-size: 2.5rem;
    text-transform: uppercase;
}

.contact_content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3rem;
}

.contact_content .contact_icon{
    text-align: left;
    font-size: 1.9rem;
    margin: 3rem;
}

.contact_content .contact_icon i{
 color: var(--red);
}


.form-container-contact form{
    
 padding: 1rem;
 width: 100rem;
 font-size: 1.3rem ;
 text-align: left;

}




.form-container-contact form h3 {
    padding-bottom: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 2.8rem;
    text-transform: uppercase;
    font-weight: normal;

}

.form-container-contact form h3 span {
    border-bottom: 2px var(--red) solid;
}



.form-container-contact form .box{
    border: var(--border);
    width: 100% ;
    padding: 0.7rem 1rem;
    font-size: 1.8rem;
    margin-top: 0;
    margin-bottom: 2rem;
    justify-content: space-between;
}

.form-container-contact form .erreur{
    margin-bottom: 1rem;}

.form-container-contact form label{
    font-size: 1.7rem;
}


/* ------------------ qui sommes nous ? ------------------ */





.content-descript{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: justify;
    font-size: 1.5rem;
    margin-bottom: 5rem;
    margin-top: 5rem;

}

.content-descript .descript a{
    color: var(--red);
}

.content-descript .descript a:hover{
    color: var(--black);
}

.content-descript img{
 width: 100%;

}

.content-descript .descript{
    width: 80%;
    margin-right: 10rem;
    margin-top: 0;
    margin-bottom: 0;
}

.content-equip
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.content-equip .content-equipe{

    text-align: center;
    font-size: 1.5rem;
    padding: 3rem;
    
}

.content-equip .content-equipe span{
    color: var(--red);
    font-size: 2.5rem;
    
}

.content-equip img{

    overflow:hidden;
    -webkit-border-radius:80px;
    -moz-border-radius:80px;
    border-radius:80px;
    width:150px;
    height:150px;
}

/* ------------------ erreur ------------------ */

.erreur{
    color: var(--red);
}


/* ------------------ boutton ------------------ */


.btn_contact{
    display: flex;
    justify-content: center;
    margin-bottom: 20rem;

}

.btn_contact2{
    margin-top: 1.5rem;

}

.btn-contact{

    margin-top: 1rem;
    margin-bottom: 5rem;
    padding: 1rem 3rem;
    cursor: pointer;
    color: var(--greylight);
    background-color: var(--red);
    font-size: 1.8rem;
    text-transform: uppercase;
    width: 28rem;
}

.btn-contact a{
    color: var(--white);
}

.btn-contact a:hover{
    color: var(--white);
}

.btn-contact:hover{
    color: var(--white);
    background-color: var(--blue);
}

.btn,
.option-btn,
.delete-btn,
.white-btn {
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem 3rem;
    cursor: pointer;
    background-color: var(--red);
    color: var(--greylight);
    font-size: 1.8rem;
    text-transform: uppercase;
    width: 28rem;
}

.header_menu .menu i{
    color: var(--blue);
}

.btn:hover,
.option-btn:hover,
.delete-btn:hover {
 background-color: var(--blue);
 color: var(--white);
}


.btn2
 {
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 2rem 3rem;
    margin-left: 2rem;
    cursor: pointer;
    background-color: var(--red);
    color: var(--greylight);
    font-size: 1.8rem;
    text-transform: uppercase;
    width: 25rem;
}

.header_menu .menu i{
    color: var(--blue);
}

.btn2:hover {
 background-color: var(--blue);
 color: var(--white);
}

.white-btn,
.btn{
    background-color: var(--red);
}

.option-btn{
    background-color: var(--red);
}

.delete-btn{
    background-color: var(--red);
}

/* ------------------ footer ------------------ */


.footer{
    background-color: var( --greylight);
}

.footer .box-container{
    border-top: var(--grey) 1px solid;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 0.2fr));
    align-items: flex-start;
    justify-content: center;
    color: var(--blue);
    font-size: 1.7rem;;
}

.footer .box-container .box h3{
    padding-bottom: 1.5rem;
    margin-bottom: 1rem;
    font-size: 2.8rem;
    text-transform: uppercase;
    font-weight: normal;
    color: var(--black);
}

.footer .box-container .box{
    color: var(--black);
}

.footer .box-container .box h3 span{
    border-bottom: 2px var(--red) solid;
}

.footer .box-container .box i{
   color: var(--red);
   padding-right: 1rem;
}


.footer .box-container .box a{
    margin: auto;
    display: block;
    padding:0.2rem 0;
    color: var(--black);
    font-size: 1.7rem;
}

.footer .box-container .box a i{
    padding-right: 1rem;
    transition: .2s linear;
    color: var(--red);
    
}

.footer .box-container .box a:hover i{
    padding-right: 2rem;
}


/* ------------------ slider ------------------ */

.slider {
    height: 55vh;
    position: relative;
}

.slider img {
    object-fit: cover;
    height: 35rem;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s;
}

.slider img.active {
    opacity: 1;
}

.suivant, .precedent {
    color:var(--blue);
    font-size: 2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.suivant {
    right: 1rem;
}

.precedent {
    left: 1rem;
}

.parallax-window {
    min-height: 400px;
    background: transparent;
}


/* ------------------ Description présentation ------------------ */

.descrip-prest{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: justify;
    font-size: 1.5rem;
    margin-bottom: 5rem;
    margin-top: 5rem;
}

.descrip-prest-d{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 5rem;
    margin-top: 5rem;
}

.descrip-prest span{
    color: var(--red);
    font-weight: bold;
}

.descrip-prest p{
    font-weight: bold;
}

/* ------------------ tableau  ------------------ */

.title-tab h3 {
    padding-bottom: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 2.8rem;
    font-weight: normal;
    text-transform: uppercase;

}

.title-tab h3 span {
    border-bottom: 2px var(--red) solid;
}


table{
	
margin: 1rem auto;
text-align: center;
font-weight: lighter;
width: 70%;
max-width: 100%;
font-size: 1.8rem;
border-collapse: collapse;


}
		
	
thead{

background-color: var(--blue);
color: var(--white);
font-size: 2rem;
text-transform: uppercase;

}
	

th,td{padding:8px 0}

tbody tr:nth-child(even) {
	
background-color: var(--grey);
	
}

/* ------------------ recherche ------------------ */



.recherche{

    width: 100%;

    font-size: 1.5rem;

}



.recherche h3{

    font-size: 2rem;

    font-weight: normal;

    text-transform: uppercase;

}



.recherche .box{

    border: var(--grey) solid 1px;

    width: 15%;

    padding: 1rem;

}



/* ------------------ boutton ------------------ */






.btn {

    display: inline-block;

    margin-top: 1rem;

    margin-bottom: 1rem;

    padding: 1rem 3rem;

    cursor: pointer;

    color: var(--ligthred);

    font-size: 1.2rem;

    text-transform: uppercase;

    width: 20rem;

}



.header_menu .menu i{

    color: var(--blue);

}



.btn:hover {

 background-color: var(--red);

 color: var(--white);

}

/* ------------------ Media Queries ------------------ */
	
@media only screen and (max-width: 800px) {
		
table, 
thead, 
tbody, 
th, 
td, 
tr{ 
	
display: block
	
}
	
thead tr { 
position: absolute;
top: -9999px;
left: -9999px;
}
 
 
 
td { 
	
position: relative;
padding-left: 50%; 
white-space: normal;
text-align: left
	
	}
 
td:before { 
	
position: absolute;
top: 6px;
left: 6px;
width: 45%; 
padding-right: 10px; 
white-space: nowrap;
text-align:left;
content: attr(data-title);
font-size: 1.8rem;
	
	}
}



@keyframes fadeIn {
    0%{
        transform: translate(1rem);
        opacity: .2s;
    }
}

@media(max-width:991px){

    html{
        font-size: 55%;
    }

}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .header .flex .navbar{
        position: absolute;
        top:99%; left:0; right:0;
        background-color: var(--greylight);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

    }

    .header .flex .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .flex .navbar a{
        margin: 2rem;
        display: block;
    }
 .header .flex .navbar a:hover{
    color: var(--black);
    border-bottom: none;

}

  .content-equip {
    flex-direction: column;
  }

  .content-descript {
    flex-direction: column;
  }

  .content-descript .descript{
    width: 100%;
    margin-bottom: 1.5rem;
  }

  .form-container-contact {
    flex-direction: column;
}


.container{
flex-direction: column;

}


.form-container-contact .form-contact{
    
    flex-direction: column;

}

.form-container-contact .form-contact .form-div{
    margin-top: 1.5rem;
}

.form-container-contact .title
{
   
    width: 55%;
}

.form-container-contact form h3 {
    width: 50%;

}

.form-container-contact form h3 span {
    border-bottom: 2px var(--red) solid;
}

.form-container-contact form .box{
    width: 50%;
}






}

@media(max-width:450px){



    html{
        font-size: 50%;
    }

}

 /* panneau d'administartion */

.admin_panneau{
    display:flex;
    width: 80%;
    height: 500px;
    margin : 0 auto;
    flex-wrap: wrap;
    justify-content: space-around;
}

.admin_panneau .panneau {
    width: 30%;
    height: 200px;
    background-color: var(--blue); 
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-items: center;
    text-align: center;
    border-radius: 20px;
}


.admin_panneau .panneau .conteur {
    background-color: var(--red) ;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    border-radius: 5px;
}

a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

/* panneau d'administartion */